**Algoritma BFS dan DFS**

Algoritma BFS

In [ ]:
graph={ 'Amin' : {'Wasim', 'Nick', 'Mike'},
        'Wasim' : {'Imran', 'Amin'},
        'Imran' : {'Wasim', 'Faras'},
        'Faras' : {'Imran'},
        'Mike' : {'Amin'},
        'Nick' : {'Amin'}}

In [ ]:
def bfs(graph, start):
    visited = []
    queue = [start]

    while queue:
        node = queue.pop(0)
        if node not in visited:
            visited.append(node)
            neighbours = graph[node]
            for neighbour in neighbours:
                queue.append(neighbour)
    return visited

In [ ]:
# O amin ---------------
# |          |          |
# O wasim    O nick     O mike
# |
# O imran
# |
# O faras

bfs(graph, 'Amin')

['Amin', 'Wasim', 'Nick', 'Mike', 'Imran', 'Faras']

In [ ]:
# O wasim ----
# |          |
# O imran    O amin ----
# |          |         |
# O faras    O nick    O mike

bfs(graph, 'Wasim')

['Wasim', 'Amin', 'Imran', 'Nick', 'Mike', 'Faras']

In [ ]:
# O faras
# |
# O imran
# |
# O wasim  O nick O micke
# |        |      |
# O amin ----------

bfs(graph, 'Faras')

['Faras', 'Imran', 'Wasim', 'Amin', 'Nick', 'Mike']

Algoritma DFS

In [ ]:
def dfs(graph, start, visited=None):
    if visited is None:
        visited = set()
    visited.add(start)
    print(start)
    for next in graph[start] - visited:
        dfs(graph, next, visited)
    return visited

In [ ]:
graph={ 'Amin' : {'Wasim', 'Nick', 'Mike'},
        'Wasim' : {'Imran', 'Amin'},
        'Imran' : {'Wasim', 'Faras'},
        'Faras' : {'Imran'},
        'Mike' : {'Amin'},
        'Nick' : {'Amin'}}

In [ ]:
# O amin ---------------
# |          |          |
# O wasim    O nick     O mike
# |
# O imran
# |
# O faras
#
# turun dari amin ke faras, geser ke nick & mike

dfs(graph, 'Amin')

Amin
Wasim
Imran
Faras
Nick
Mike

{'Amin', 'Faras', 'Imran', 'Mike', 'Nick', 'Wasim'}

In [ ]:
# O amin ---------------
# |          |          |
# O wasim    O nick     O mike
# |
# O imran
# |
# O faras
#
# turun dari wasim ke faras, geser ke nick & mike

dfs(graph, 'Wasim')

Wasim
Amin
Nick
Mike
Imran
Faras

{'Amin', 'Faras', 'Imran', 'Mike', 'Nick', 'Wasim'}

In [ ]:
# O amin ---------------
# |          |          |
# O wasim    O nick     O mike
# |
# O imran
# |
# O faras
#
# turun dari faras ke amin, geser ke nick & mike

dfs(graph, 'Faras')

Faras
Imran
Wasim
Amin
Nick
Mike

{'Amin', 'Faras', 'Imran', 'Mike', 'Nick', 'Wasim'}

In [ ]:
# O amin ---------------
# |          |          |
# O wasim    O nick     O mike
# |
# O imran
# |
# O faras
#
# naik nick ke amin, turun ke faras, geser ke mike

dfs(graph, 'Nick')

Nick
Amin
Wasim
Imran
Faras
Mike

{'Amin', 'Faras', 'Imran', 'Mike', 'Nick', 'Wasim'}